﻿@{

Layout = "_BlankLayout";
}

@section PageStyles {
    <link rel="stylesheet" href="~/app-assets/vendor/css/pages/page-auth.css">
    <link rel="stylesheet" href="~/css/landing-page-layout.css">
}

@section PageScripts {

     <script src="~/app-assets/js/pages-auth.js"></script> 

}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body ">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link">
                            <span class="app-brand-logo demo">

                                <img src="~/static/logo.png" alt="LDPL Logo" class="img-fluid img-thumbnail" style="max-width: 150px; max-height: 80px;">
                            </span>
                            @*  <span class="app-brand-text demo text-heading fw-bold">LDPL</span> *@
                        </a>
                    </div>
                    <!-- Logo -->
                    <h4 class="mb-1 mt-4">Forgot Password? 🔒</h4>
                    <p class="mb-6">Enter your employee id and we'll send you instructions to reset your password on your registered email</p>
                    <form class="mb-6 login-box" id="formAuthentication" onsubmit="return false">
                        <div class="mb-6">
                            <label for="EmpCode" class="form-label">Employee Id</label>
                            <input type="text" class="form-control" id="EmpCode" name="EmpCode" placeholder="Enter your Employee Id" maxlength="20" autofocus>
                            <span class="text-danger empid-error"></span>
                        </div>
                        <button class="btn btn-primary d-grid w-100" id="sent-link-btn" type="button">Send Reset Link</button>
                    </form>
                   
                    <div class="text-center">
                        <a href="/Auth/LoginAdmin" class="d-flex justify-content-center">
                            <i class="ti ti-chevron-left scaleX-n1-rtl me-1_5"></i>
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>
@*  <script>
    var fv;
    $(document).ready(function () {
        // var tt = document.getElementById('formAuthentication');
        // console.log(tt);
         fv = FormValidation.formValidation(document.getElementById('formAuthentication'), {
          fields: {
            EmpCode: {
              validators: {
                notEmpty: {
                  message: 'Employee ID required.'
                }
              }
            }

          },
          plugins: {
            trigger: new FormValidation.plugins.Trigger(),
            bootstrap5: new FormValidation.plugins.Bootstrap5({
              eleValidClass: '',
              rowSelector: '.row'
            }),
            submitButton: new FormValidation.plugins.SubmitButton(),
            autoFocus: new FormValidation.plugins.AutoFocus()
          },
          init: instance => {
            instance.on('plugins.message.placed', function (e) {
              if (e.element.parentElement.classList.contains('input-group')) {
                e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
              }
            });
          }
        });
        console.log(fv);
    })
</script>   *@

 <script>
    $(document).ready(()=>{

        ToastWrapper.init({
            positionClass: 'toast-top-center',
            timeOut: 4000,
            progressBar:true

        });



        $("#sent-link-btn").on("click", function (e) {
            e.preventDefault();

            // fv.validate().then(function (status) {

            //     if (status !== 'Valid') {

                 
            //       return;
            //     }
            //     else{
                    const email = $("input#EmpCode").val().trim();
                    if(email === '' || $("input#EmpCode").hasClass("is-invalid"))
                    {
                        $('.empid-error').text('Employee ID required');
                        //ToastWrapper.error('Employee ID required!');
                        return;
                    }
                    else{
                        $('.empid-error').text('');
                    }


                    $(".authentication-wrapper .card").block({
                        message: '<div class="spinner-border text-primary" role="status"></div>',

                        css: {
                           border: 'none',
                           backgroundColor: 'transparent'
                        },

                        overlayCSS: {
                            backgroundColor: '#fff',
                            opacity: 0.8

                        }
                    });

                    $.ajax({
                        type: 'post',
                        url: '/auth/ForgotPassword',
                        data: {"email":email},
                        success: (resp)=>{
                            $(".authentication-wrapper .card").unblock();

                             $("#formAuthentication")[0].reset();
                            if(resp.status>0)
                            {
                                ToastWrapper.success(`Reset instructions sent to registered email: ${resp.sentOnAddress}`);

                            }
                            else if(resp.status === -401){
                                 ToastWrapper.error('Employee ID not found.');
                            }
                            else if(resp.status === -404){
                                 ToastWrapper.error('Email is not found! Contact Admininstration to add email!');
                            }
                            else if(resp.status === -400){
                                ToastWrapper.error('Employee ID not found.');
                            }
                            else if(resp.status == -403){
                                  ToastWrapper.error('Reset Password Link already generated in last 1 hour!');
                            }
                            else
                            {
                                ToastWrapper.error('Failed To Send Reset Password Link');
                            }

                        },

                        error: (resp)=>{
                            $(".authentication-wrapper .card").unblock();
                            ToastWrapper.error('Failed To Send Reset Password Link');

                        }

                    });

            //     }
            // });
        });

    });
</script>
 