@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "_BlankLayout";
}


@section PageStyles {
    <link rel="stylesheet" href="~/app-assets/vendor/css/pages/page-auth.css">
}

@section PageScripts {
  @*   <partial name="_ValidationScriptsPartial" />
    <script src="~/js/pw_validate.js"></script>
 *@
    @* <script src="~/app-assets/js/pages-auth.js"></script> *@

}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-6">
            <!-- Reset Password -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link">
                            <span class="app-brand-logo demo">

                                <img src="~/static/logo.png" alt="LDPL Logo" class="img-fluid img-thumbnail" style="max-width: 150px; max-height: 80px;">
                            </span>
                            @*  <span class="app-brand-text demo text-heading fw-bold">LDPL</span> *@
                        </a>
                    </div>
                    <!-- Logo -->
                    <h4 class="mb-1 mt-4">Reset Password 🔒</h4>
                    <p class="mb-6">
                        <span class="fw-medium">Your new password must be different from previously used passwords</span>
                    </p>
                    <form id="formAuthentication" asp-action="ResetPassword" asp-controller="Auth" asp-antiforgery=true method="post">
                        <div class="mb-6 form-password-toggle">
                            <input type="hidden" asp-for="UserId" />
                            <label class="form-label" for="Password">New Password
                                <i id="password-policy-icon" class="ti ti-info-circle" style="cursor: pointer;" data-bs-toggle="tooltip"></i>
                            </label>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       class="form-control"
                                       asp-for="Password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="Password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password"
                                       class="form-control"
                                       asp-for="ConfirmPassword"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="Password" />
                                <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100 mb-6">Set new password</button>
                        <div class="text-center">
                            <a asp-action="Login" asp-controller="Auth">
                                <i class="ti ti-chevron-left scaleX-n1-rtl me-1_5"></i>
                                Back to login
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Reset Password -->
        </div>
    </div>
</div>


<script>
     //error messages
    $(document).ready(()=>{

        ToastWrapper.init({
            positionClass: 'toast-top-right',
            timeOut: 3000,
            progressBar:true

        });

        const errm1 = '@ViewData["ResetPasswordErrorMessage"]';
        if(errm1.trim() !== '') ToastWrapper.error(errm1);

    });
</script>